inherit_from: configs/scannet/scannet.yaml
mapping:
  bound: [[-0.3,9.6],[-0.3,9.4],[-0.3,3.5]]
  marching_cubes_bound: [[-0.3,9.6],[-0.3,9.4],[-0.3,3.5]]
  keyframe_every: 1
  map_every: 1


mesh: 
  render_color: True
  vis: 50  


grid:
  #hash_size: 14 # 0.48
  hash_size: 16 # 0.48


data:
  datadir: ./data/scannet/scene0106_00
  trainskip: 1
  output: output/scannet/scene0106_00
  exp_name: Test1
  load_path: fixed_decoder.pt

tracking:
  gt_pose: True


multi_agents:
  num_agents: 3
  complete_graph: True
  #edges_list: [[0,1], [0,2], [1,2]]
  edges_for_dropout: [ [0,1,0.5], [0,2,0.5], [1,2,0.5] ] # [node i, node j, possibility of dropping out]
  #edges_for_dropout: []
  distributed_algorithm: 'AUQ_CADMM'
  rho: 0.0001
  track_uncertainty: True
  fix_decoder: True
  alpha: 0.15


cam:
  H: 480
  W: 640
  fx: 577.590698
  fy: 578.729797
  cx: 318.905426
  cy: 242.683609
  png_depth_scale: 1000.
  crop_edge: 10
  near: 0
  far: 5.0

edge_based: True